<p style="color: green"><%= notice %></p>

<div id="inventories">
  <% @inventories.each do |inventory| %>
  <div class="inventory container card mb-4">
    <%= link_to inventory do %>
      <%= render partial: 'shared/inventory', locals: { inventory: inventory } %>
      <br>
    <% end %>
  </div>
  <% end %> 
</div>

<%= link_to "New inventory", new_inventory_path %>
