<p style="color: green"><%= notice %></p>

<%= render partial: 'shared/inventory', locals: { inventory: @inventory } %>


<div>
  <%= link_to "Back to inventories", inventories_path %>

  <% if current_user.id == @inventory.user_id %>
    <%= button_to "Destroy this inventory", @inventory, method: :delete %>
  <% end %>
</div>
