<main>
  <div class="recipe-container">
    <ul>
      <% @recipes.each do |recipe| %>
        <li class ="recipeCont">
          <div class="recipeLeft">
            <%= link_to recipe.name, recipe_path(recipe), class: 'recipeTitle' %>
            <% if recipe.user == current_user %>
            <%= link_to 'remove', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to remove this recipe?' }, class: 'removeBtn' %>
            <% end %>
          </div>
          <div class="recipeRight">
            <p class= "recipeDesc"><strong>Description:</strong> <%= recipe.description %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</main>