<h1>Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="public-recipe-box">
    <div>
      <%= link_to recipe.name , recipe_path(recipe), class: 'recipe-title' %>
      <p>By: <%= recipe.user.name %></p>
    </div>
    <div>
      <p>Total food items: 5</p>
      <p>Total price: $250</p>
    </div>
  </div>
<% end %>
